.right {
    height: 100vh;
    width: 50%;
    padding: 0 8%;
}

.rightTopImg {
    width: 350px;
    height: 380px;
    margin-left: 100px;
}

.rightBottom {
    display: flex;
    align-items: center;
    justify-self: space-between;
}

.rightBottomImg {
    width: 140px;
}

.rightBottomBox {
    cursor: pointer;
    width: 180px;
    height: 160px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 30px;
}